* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

body {
  width: 100%;
  height: 100%;
}
#wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.left {
  width: 50%;
  height: 15%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 5rem;
  transform: translateY(-50%);
}
.left h1 {
  top: 30%;
  left: 10%;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1em;
}
.left img {
  width: 100%;
  object-fit: cover;
}
.left .txt {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}
.right {
  width: 50%;
  height: 100vh;
  display: flex;
}
.right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.right li {
  position: relative;
  border-left: 1px solid #000;
  width: calc(100% / 4);
  flex: 1 1 0;
  transition: 0.5s;
}
.right li.on {
  flex-grow: 2;
}
.right li.on video {
  display: block;
}
.right li.on > h3,
.right li.on > p {
  display: block;
}

.right li > h3,
.right li > p {
  position: absolute;
  color: #fff;
  display: none;
}
.right h2 {
  top: 20%;
  position: absolute;
}
.right h3 {
  top: 50%;
  right: 1rem;
  color: #fff;
}
.right p {
  bottom: 5rem;
  right: 1rem;
  text-align: right;
  color: #fff;
}

footer {
  position: fixed;
  z-index: 1001;
  width: 100%;
  padding: 1rem;
  background-color: #0000006b;
  bottom: 0;
  transform: translateY(0%);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  gap: 1rem;
}
